@import '_vars';
@import 'modules/_lightbox';

h1, h2, h3, h4, h5, p, a {
    font-family: ariana-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}


.mainHeader { 
    img { max-width: 100%; } 
}

.introText{
    h2 {
        font-size: 1.3rem;
        font-weight: 600;
        padding: 5px 0 5px 0;
        border-bottom: 3px solid pink;
        text-align: center;
     }
    p {
        padding: 15px 0 25px 0;
        font-size: 1rem;
        font-family: verveine, sans-serif;
        font-style: normal;
        font-weight: 400;
     }

    h3 {
        font-weight: 600;
        font-size: 1.3rem;
        text-align: center;
        padding-bottom: 15px;
     }

 }

//Media Query For Tablet -- 768px

 @media screen and (min-width: 48rem) {


    .introText {
        h2 {
            font-size: 2.3rem;
            padding: 15px 0 15px 0;
        }

        p {
            width: 730px;
            font-size: 1.5rem;
            margin-left: 5px;
        }

        h3 {
            font-size: 3rem;
        }
    }
 }

 @media screen and (min-width: 80rem) {

 }

 @import 'modules/_movies';


@import 'modules/_footer'
