@import '_vars';
@import 'modules/_lightbox';

h1, h2, h3, h4, h5, p, a {
    font-family: ariana-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}


.mainHeader { 
    img { max-width: 100%; } 
}

.introText {

    h2, h3, h4, p {
        font-family: verveine, sans-serif;
        text-align: center;
    }

    h2 {
        font-size: 1.3rem;
        font-weight: 600;
        padding: 5px 0 5px 0;
        border-bottom: 3px solid pink;
     }

     h3 {
        font-size: 1.3rem;
        padding-bottom: 15px;
        font-weight: 600;
    }

    p {
        padding: 15px 0 25px 0;
        font-size: 1rem;
        font-weight: 400;
     }

 }

//Media Query For Tablet -- 768px

 @media screen and (min-width: 48rem) {

    .introText {
        width: 100%;

        h2 {
            font-size: 2.3rem;
            padding: 15px 0 15px 0;
        }

        p {
            font-size: 2rem;
            text-align: center;
        }

        h3 {
            font-size: 4rem;
            padding-top: 15px;
        }

        h4 { font-size: 2rem; }
    }
 }

 @media screen and (min-width: 80rem) {
    .wrapper {
        width: 1280px;
        margin: 0 auto;
    }


    .mainHeader {
        img { width: 100%; }
    }
    .introText {
        h4 { font-size: 2.5rem; }
    }
 }

 @import 'modules/_movies';


@import 'modules/_footer'
