.movies { 
    display: flex;
    flex-direction: column;
    
    img {
        width: 100%;
        margin: 40px auto 0 auto;
    }

   h1, h3, p {
       width: 100%;
       padding-bottom: 20px;
   } 

   h1 { 
       font-size: 2.5rem; 
       font-weight: 600;
    }

   p { line-height: 20px; }
 }

 .m-link {
    width: 200px;
    background-color: lightcoral;
 }

 @media screen and (min-width: 46rem) {
     .movies {
        h3 { font-size: 1.5rem; }

        p {
            font-size: 1.5rem;
            line-height: 30px;
        }

        img { margin-top: 100px; }
     }
 }

 @media screen and (min-width: 80rem ) {
    .movies {
        img { max-width: 1280px; }
    }

    h3 { font-size: 1.5rem; }

    a {
        font-size: 1.5rem;
        margin-top: 5px;
    }
}